@using CapaEntidad.Control
@model IEnumerable<Ent_Funcion>
@{
    ViewBag.Title = "Control de funciones";
}

@*<p class="text-danger">Muestra la lista de Funciones utilizadas. Permite crear nuevas funciones dentro del sistema y editar las existentes.</p>*@
<div class="box box-body box-default">@*box-danger">*@

    <button type="submit" id="btnaceptar" name="btnaceptar" title="Agregar" class="nuevo btn btn-small btn-primary" data-modal="" data-toggle="modal">Agregar Funcion</button>

    <div class="box-body" id="lista">
        @{Html.RenderPartial("ListaFuncion", Model); }
    </div>
</div>
@*Index*@
@section scripts{    
<script>
    $(function () {
        $(".nuevo").click(function () {
            waitingDialog.show('Espere un momento por favor');
            var TeamDetailPostBackURL ="@Url.Action("Nuevo", "Funcion")";

            var $buttonClicked = $(this);
            //var id = $buttonClicked.attr('data-id');

            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: {},
                datatype: "json",
                cache: true,
                success: function (data) {
                    waitingDialog.hide();

                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');


                },
                error: function () {
                    waitingDialog.hide();
                    // waitingDialog.hide();
                    //removeLoading();
                    alert("Dynamic content load failed.");

                }
            });
        });


        $("#closbtn").click(function () {
            // debugger;
            waitingDialog.hide();
            //removeLoading();
            $('#myModal').modal('hide');
        });
    });
</script>
    @*ListaFuncion*@
<script>
    $(document).ready(function () {
        $('#ListaFuncion').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            }
        });
    });
</script>
<script>

    $(function () {
        $(".btneditar").click(function () {
            var TeamDetailPostBackURL ="@Url.Action("Edit", "Funcion")";
            //debugger;
            var $buttonClicked = $(this);
            waitingDialog.show('Espere un momento por favor');
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                cache: true,
                success: function (data) {
                    //debugger;
                    waitingDialog.hide();
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                    // debugger;

                },
                error: function () {
                    waitingDialog.hide();
                    alert("Dynamic content load failed.");
                }
            });
        });


        $("#closbtn").click(function () {
            // debugger;
            waitingDialog.hide();
            $('#myModal').modal('hide');
        });
    });
    $(function () {
        $(".btnapli").click(function () {
            var TeamDetailPostBackURL ="@Url.Action("Aplicacion", "Funcion")";
            //debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            waitingDialog.show('Espere un momento por favor');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                cache: true,
                success: function (data) {
                    waitingDialog.hide();
                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                    // debugger;

                },
                error: function () {
                    waitingDialog.hide();
                    alert("Dynamic content load failed.");
                }
            });
        });


        $("#closbtn").click(function () {
            // debugger;
            waitingDialog.hide();
            $('#myModal').modal('hide');
        });
    });
</script>
    @*Aplicacion*@
<script>


$(document).ready(function() {
    $("#dwapl").select({
        dropdownParent: $("#myModal")
  });
});

</script>
<script>
    function onAgregar_Apl() {
        var msg_titulo = 'Mensaje Aquarella!';
        var funid = $("#idfun").val();
        var aplid = $('select[name=dwapl]').selectpicker('val');
        waitingDialog.show('Espere un momento por favor');
        $.ajax
             ({
                 url: '../Funcion/Agregar_Apl',
                 dataType: "json",
                 type: "POST",
                 data: { apl_id: aplid, fun_id: funid },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {
                         $('#listaapl').load('@Url.Action("ListaAplFun", "Funcion")', { funid: funid });
                         waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);

                     }
                     else {
                         waitingDialog.hide();
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     waitingDialog.hide();
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>
    @* Editar *@
<script>


$(document).ready(function() {
    $("#dwfuncion").select({
        dropdownParent: $("#myModal")
  });
});

</script>
<script type="text/javascript">
    function OnEditar_Grabar() {
        var msg_titulo = 'Mensaje Aquarella!';
        var id = $("#idfun").val();
        var nombre = $("#nombre").val();
        var padre = $('select[name=dwfuncion]').selectpicker('val');
        var orden = $("#orden").val();
        waitingDialog.show('Espere un momento por favor');
        $.ajax
             ({
                 url: '../Funcion/Edit',
                 dataType: "json",
                 type: "POST",
                 data: { id: id,nombre: nombre,  orden: orden, padre: padre },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {

                         $('#myModal').modal('hide');
                         $('body').removeClass('modal-open');
                         $('.modal-backdrop').remove();

                         $('#lista').load('@Url.Action("ListaFuncion", "Funcion")', {});
                         waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);
                     }
                     else {
                         waitingDialog.hide();
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     waitingDialog.hide();
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>
    @*ListaAplFun*@
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#result').DataTable({
    //        "language": {
    //            "url": "../Scripts/DataTables/Spanish.json"
    //        },
    //        "paging": true,
    //        "lengthChange": false,
    //        "searching": false,
    //        "ordering": true,
    //        "info": true,
    //        "autoWidth": false,
    //        "iDisplayLength": 4
    //    });
    //});
</script>
<script>
    function funBorrarAplFun(aplid) {
        var $buttonClicked = $(this);
        var funid = $("#idfun").val();
       // var aplid = $buttonClicked.attr('data-id');
        waitingDialog.show('Espere un momento por favor');
        $.ajax
            ({
                url: '../Funcion/Borrar_Apl',
                dataType: "json",
                type: "POST",
                data: { apl_id: aplid, fun_id: funid },
                success: function (data, textStatus, XMLHttpRequest) {
                    if (data.estado == '1') {

                        $('#listaapl').load('@Url.Action("ListaAplFun", "Funcion")', { funid: funid });
                        waitingDialog.hide();
                        toastr.success(data.desmsg, msg_titulo);

                    }
                    else {
                        waitingDialog.hide();
                        toastr.error(data.desmsg, msg_titulo);
                    }
                },
                error: function (xhr) {
                    waitingDialog.hide();
                    toastr.error(xhr, msg_titulo);
                }
            })
    }

            //bootbox.confirm({
            //    message: "Esta seguro de borrar de la lista el id: " + aplid,
            //    buttons: {
            //        confirm: {
            //            label: 'Si',
            //            className: 'btn-success'
            //        },
            //        cancel: {
            //            label: 'No',
            //            className: 'btn-danger'
            //        }
            //    },
            //    callback: function (result) {
            //        if (result) {
            //           //borrar
            //        }
            //    }
            //});
       
   
</script>
    @*Nuevo*@
<script>
$(document).ready(function() {
    $("#dwfuncion").select({
    dropdownParent: $("#myModal")
  });
});
</script>
<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>
<script type="text/javascript">
    function OnNuevo_Grabar() {
        var msg_titulo = 'Mensaje Aquarella!';
        var nombre = $("#nombre").val();
        var padre = $('select[name=dwfuncion]').selectpicker('val');
        var orden = $("#orden").val();
        waitingDialog.show('Espere un momento por favor');
        $.ajax
             ({
                 url: '../Funcion/Nuevo',
                 dataType: "json",
                 type: "POST",
                 data: { nombre: nombre,orden: orden, padre: padre },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {

                         $('body').removeClass('modal-open');
                         $('#myModal').modal('hide');

                         $('.modal-backdrop').remove();

                         $('#lista').load('@Url.Action("ListaFuncion", "Funcion")', {});

                         waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);
                     }
                     else {
                         waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     waitingDialog.hide();
                     toastr.error(xhr, msg_titulo);
                 }
             })
    }
</script> 
}   