<input type="hidden" id="idfun" value="@ViewBag.funid" />
<table id="result" class="table table-hover  table-striped table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using CapaEntidad.Control
        @model IEnumerable<Ent_Aplicacion>

        @foreach (Ent_Aplicacion item in Model)
        {
            <tr>
                <td>@item.apl_id.ToString()</td>
                <td>@item.apl_nombre.ToString()</td>
                <td>
                    <div class="pull-right">
                        <button title="Borrar" onclick="funBorrarAplFun(@item.apl_id)" class="btn btn-danger btnborrar" data-id="@item.apl_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
